@import "@/styles/common.scss";

.mdf__moderation__back {
  // background: conic-gradient(
  //   from 180deg at 50% 0%,
  //   #d3cbe6 0deg,
  //   #7b5b9e 360deg
  // );
  background: #e8e7f3;
  padding: 80px 0;
  background-position: center;
  background-repeat: no-repeat;
  @include media-breakpoints-down-lg {
    padding: 40px 0;
  }
  .card_custom {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .mdf__img__rounded {
    height: 307px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 45px;
    @include media-breakpoints-down-lg {
      border-radius: 10px;
    }
  }
}
