.mdf__footer{
    background-color: #23142D;
    padding: 80px 0; 
    h5{
        color: #CA98E9;
    }
    a{
        color: #fff;
        font-size: 0.875rem;
        text-decoration: none;
    }
}