@import "@/styles/common.scss";
.mdf__footer {
    background-color: #23142d;
    padding: 64px 0 10px;
    @include media-breakpoints-down-lg {
        padding: 40px 0 10px;
    }
    h5 {
        color: #ca98e9;
    }
    li {
        cursor: pointer;
        color: #fff;
        font-size: 0.875rem;
        text-decoration: none;
    }
    a {
        cursor: pointer;
        color: #fff;
        font-size: 0.875rem;
        text-decoration: none;
    }
    .footer_content_text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        margin-top: 15px;
        padding-bottom: 10px;
    }
}
