@import "@/styles/common.scss";

.mdf__pricing_banner {
  background-color: #7b5b9e;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.mdf__pricing_block {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  padding: 80px 0;
  @include media-breakpoints-down-lg {
    padding: 40px 0;
  }
}
.mdf__pricingcard {
  border-radius: 16px;
  p {
    color: #707070;
    font-size: 0.875rem;
  }
  &:hover {
    box-shadow: -2px -2px 11px rgba(0, 0, 0, 0.4);
  }
}
.card__price__yellow {
  border: 2px solid #dfbc05;
  .b_bottom {
    border-bottom: 2px solid #dfbc05;
  }
  .title {
    color: #dfbc05;
  }
}
.card__price__purple {
  border: 2px solid #6c63ff;
  .title {
    color: #6c63ff;
  }
  .b_bottom {
    border-bottom: 2px solid #6c63ff;
  }
}
.card__price__orange {
  border: 2px solid #f96a03;
  .title {
    color: #f96a03;
  }
  .b_bottom {
    border-bottom: 2px solid #f96a03;
  }
}
.card__price__red {
  border: 2px solid #eb001b;
  .title {
    color: #eb001b;
  }
  .b_bottom {
    border-bottom: 2px solid #eb001b;
  }
}
.card__price__blue {
  border: 2px solid #0c3dbc;
  .title {
    color: #0c3dbc;
  }
  .b_bottom {
    border-bottom: 2px solid #0c3dbc;
  }
}
.card__price__primary {
  border: 2px solid $primary;
  .title {
    color: $primary;
  }
  .b_bottom {
    border-bottom: 2px solid $primary;
  }
}
.mdf__calculate__saving {
  padding-top: 80px;
  background-color: #d3cbe6;
  @include media-breakpoints-down-lg {
    padding-top: 40px;
  }
  .checkbox__primary {
    background: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
    padding: 1rem 2rem;
    font-weight: bold;
    color: $text-dark;
    &:hover {
      background-color: #fff;
    }
    @include media-breakpoints-down-md {
      padding: 0.5rem 1rem;
      font-size: 16px;
    }
  }
  .btn-check:checked + .checkbox__primary,
  :not(.btn-check) + .checkbox__primary:active,
  .checkbox__primary:first-child:active,
  .checkbox__primary.active,
  .checkbox__primary.show {
    background: $primary;
    color: #fff;
  }
  .mdf__bg__drak_banner {
    background-color: $primary;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
  }
}
.mdf__moderate_banner {
  background-image: url("/images/moderate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoints-down-lg {
    padding: 80px 0;
  }
  @include media-breakpoints-down-md {
    padding: 40px 0;
  }
}
.mdf__pricing_faqs {
  padding: 80px 0;
  @include media-breakpoints-down-lg {
    padding: 40px 0;
  }
}
