.mdf__authpage__section {
  padding: 1.5rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .mdf__authpage__blocks {
    padding: 2rem 1rem 1rem 0;
    background: linear-gradient(269.24deg, #7b5b9e -81.4%, #ecebf7 99.1%);
    box-shadow: -2px 1px 26px rgba(0, 0, 0, 0.8);
    border-radius: 61px;
    min-height: 90vh;
    align-items: center;
  }
  .mdf__logo_auth {
    width: 65% !important;
    height: unset !important;
  }
  .mdf__login_right-block {
    padding: 1.5rem 2rem;
    .text_blue {
      color: #192b52;
    }
    .checkbox__primary {
      background: #ffffff;
      border-radius: 16px;
      font-size: 16px;
      border: transparent;
      padding: 1rem 1.5rem;
      font-weight: bold;
      color: $text-dark;
    }
    .btn-check:checked + .checkbox__primary,
    :not(.btn-check) + .checkbox__primary:active,
    .checkbox__primary:first-child:active,
    .checkbox__primary.active,
    .checkbox__primary.show {
      background: $primary;
      color: #fff;
    }
  }
  .mdf__form__input {
    padding-left: 3rem;
  }
  .raio__button__card {
    background: #fdfeff;
    border: 1px solid #d1d8e6;
    color: $text-dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 173px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    img {
      width: 90px !important;
      height: auto !important;
    }
    &:hover {
      background: linear-gradient(180deg, #5e0496 -56.36%, #ffffff 100%);
      border: 2px solid #5e0496;
    }
  }
}
.mdf__login__card_button {
  .btn-check:checked + .raio__button__card,
  :not(.btn-check) + .raio__button__card:active,
  .raio__button__card:first-child:active,
  .raio__button__card.active,
  .raio__button__card.show {
    background: linear-gradient(180deg, #5e0496 -56.36%, #ffffff 100%);
    border: 2px solid #5e0496;
    color: $primary;
  }
}
.social_button__blocks {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d1d8e6;
  width: fit-content;
  button {
    background-color: #fff;
    border: none;
    color: $text-dark;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100px;
    justify-content: center;
    align-items: center;
    .social__icons {
      width: 30px !important;
      height: 30px !important;
      margin-bottom: 1rem;
    }
  }
}
